<!DOCTYPE html>
<html lang="en">

<head>
<?php
	function formatRp($angka)
	{
		$jadi = "Rp. " . number_format($angka,2,',','.');
		return $jadi;
	}
?>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
	<?php echo link_tag('assets/css/font-awesome.css'); ?>
	<?php echo link_tag('assets/css/bootstrap.min.css'); ?>
	<?php echo link_tag('assets/css/animate.min.css'); ?>
	<?php echo link_tag('assets/css/owl.carousel.css'); ?>
	<?php echo link_tag('assets/css/owl.theme.css'); ?>

    <!-- theme stylesheet -->
    <link href="<?php echo base_url();?>assets/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="<?php echo base_url();?>assets/css/custom.css" rel="stylesheet">

    <script src="<?php echo base_url();?>assets/js/respond.min.js"></script>

    <link rel="shortcut icon" href="<?php echo base_url();?>favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
 <?php if($log){?>
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li><a href="<?php echo site_url('chome/logout'); ?>">Logout</a>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
 <?php } else {?>
	<div id="top"><div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li><a href="<?php echo site_url('chome/toregister'); ?>">Register</a>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                    <li><a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="<?php echo site_url('chome/login'); ?>" method="post">
                            <input type="text" class="form-control" id="email-modal" name="email" placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" name="pass" placeholder="password">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="<?php echo site_url('chome/toregister'); ?>"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
 <?php }?>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index" data-animate-hover="bounce">
                    <img src="<?php echo base_url();?>assets/img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="<?php echo base_url();?>assets/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="<?php echo site_url('chome/tobasket'); ?>">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs"><?php echo $isicart;?> items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="index">Home</a>
                    </li>
					
							
														
													
					<?php foreach($kategori as $k){ ?>
					<li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"><?php echo $k->kategori_produk; ?> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
										<?php foreach($subkategori as $s){?>
											<?php if($s->kategori_produk==$k->kategori_produk){?>	
											<div class="col-sm-3">
												<h5><?php echo $s->jenis_produk;?></h5>
												<ul>
													<?php foreach($barang as $b){?>
													<?php if($b->kategori_produk==$k->kategori_produk && $b->jenis_produk ==$s->jenis_produk){ ?>
													<li><a class="linkProduk" id="<?php echo $b->merek_produk."|".$b->jenis_produk;?>"href=""><?php echo $b->merek_produk;?></a>
													</li>
													<?php } ?>
													<?php } ?>
												</ul>
											</div>
											<?php } ?>
										<?php } ?>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
					<?php } ?>
					
                    
                              
                   
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">
                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="<?php echo site_url('chome/tobasket'); ?>" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm"><?php echo $isicart;?> items in cart</span></a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

			<div class="navbar-collapse collapse right" id="basket-overview">
				<a href="<?php echo site_url('chome/towish'); ?>" class="btn btn-primary navbar-btn"><span class="hidden-sm">to Wishlist</span></a>
			</div>
            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" id="txtSearch" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

			<button class="btn btn-primary searchButton"><i class="fa fa-search"></i></button>

		    </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>Shopping cart</li>
                    </ul>
                </div>

                <div class="col-md-9" id="basket">

                    <div class="box">

                            <h1>Shopping cart</h1>
                            <p class="text-muted">You currently have <?php echo $isicart; ?> item(s) in your cart.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th colspan="2">Unit price</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									<?php $total=0;?>
									<?php $indx=0;?>
									<?php foreach($cart as $s){?>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="<?php echo base_url();?>assets/img/404.jpg" alt="White Blouse Armani">
                                                </a>
                                            </td>
                                            <td><a href="#"><?php echo $s->NAMA_PRODUK; ?></a>
                                            </td>
                                            <td>
												<input type="number" style="width:60px" id="<?php echo $indx;?>" value="<?php echo $s->JUMLAH; ?>" class="form-control">
											</td>
                                            <td colspan="2"><?php echo formatRp($s->HARGA_JUAL); ?></td>
                                            <td><?php echo formatRp($s->HARGA_JUAL*$s->JUMLAH); ?></td>
											<?php $total+=$s->HARGA_JUAL*$s->JUMLAH;?>
											<td>
											<form style="text-align:left" method="post" accept-charset="utf-8" action="<?php echo site_url('chome/deletebasket'); ?>">
												<input type="hidden" name="id_produk" value="<?php echo $s->ID_PRODUK; ?>" />
												<button class="btn btn-primary" name='add'><i class="fa fa-trash-o"></i></button>
											</form>
                                            </td>
                                        </tr>
									<?php $indx++;}?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Subtotal</th>
                                            <th colspan="2"><?php echo formatRp($total); ?></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                <div class="pull-right">
								
									<button class="btn btn-default" id="updatebasket"><i class="fa fa-refresh"></i> Update basket</button>
									
									<button type="submit" id="confirmcheckout" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>


                    </div>
                    <!-- /.box -->


                    <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="<?php echo base_url();?>assets/img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="<?php echo base_url();?>assets/img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="<?php echo base_url();?>assets/img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="<?php echo base_url();?>assets/img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="<?php echo base_url();?>assets/img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="<?php echo base_url();?>assets/img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="<?php echo base_url();?>assets/img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="<?php echo base_url();?>assets/img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="<?php echo base_url();?>assets/img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Fur coat</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
										<th colspan="2"><?php echo formatRp($total); ?></th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th><?php echo formatRp($total); ?></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="box">
                        <div class="box-header">
                            <h4>Coupon code</h4>
                        </div>
                        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

					<button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

				    </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2015 Your name goes here.</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious.com</a>
                         <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="<?php echo base_url();?>assets/js/jquery-1.11.0.min.js"></script>
    <script src="<?php echo base_url();?>assets/js/bootstrap.min.js"></script>
    <script src="<?php echo base_url();?>assets/js/jquery.cookie.js"></script>
    <script src="<?php echo base_url();?>assets/js/waypoints.min.js"></script>
    <script src="<?php echo base_url();?>assets/js/modernizr.js"></script>
    <script src="<?php echo base_url();?>assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="<?php echo base_url();?>assets/js/owl.carousel.min.js"></script>
    <script src="<?php echo base_url();?>assets/js/front.js"></script>
	
	<script>
		$('.linkProduk').click(
		function(){
			
			$.ajax({
				url:'<?php echo base_url("index.php/chome/getId"); ?>',
				type:       'POST',
				data:{id:this.id},
				cache:      false,
				success: function(hasil){
					window.location.href = "<?php echo site_url('/chome/searchProdukByMerk');?>";

				}
			});
		});
		
		$('.searchButton').click(
		function(){
			var search = document.getElementById("txtSearch").value;
			$.ajax({
				url:'<?php echo base_url("index.php/chome/getId"); ?>',
				type:       'POST',
				data:{id:search},
				cache:      false,
				success: function(hasil){
					window.location.href = "<?php echo site_url('/chome/searchProdukByNama');?>";

				}
			});
		});
		
		$('#updatebasket').click(
		function(){
			var test = getJumlah();
			var idproduk = new Array();
			<?php	
			foreach($cart as $r)
			{
				?>idproduk.push("<?php echo $r->ID_PRODUK;?>"); <?php
			}
			?>

			
			$.ajax({
				url:'<?php echo base_url("index.php/chome/dimanavariabelku"); ?>',
				type:       'POST',
				data:{id:test,produk:idproduk},
				cache:      false,
				success: function(hasil){
					window.location.href = "<?php echo site_url('/chome/updatebasket');?>";

				}
			});
		});
		$('#confirmcheckout').click(
		function(){
			var test = getJumlah();
			var idproduk = new Array();
			<?php	
			foreach($cart as $r)
			{
				?>idproduk.push("<?php echo $r->ID_PRODUK;?>"); <?php
			}
			?>

			
			$.ajax({
				url:'<?php echo base_url("index.php/chome/dimanavariabelku"); ?>',
				type:       'POST',
				data:{id:test,produk:idproduk},
				cache:      false,
				success: function(hasil){
					window.location.href = "<?php echo site_url('/chome/confirmcheck');?>";

				}
			});
		});
		function getJumlah(){
			var jumlah = new Array();
			<?php
			$index=0;
			foreach($cart as $r)
			{
				?>jumlah.push(document.getElementById("<?php echo $index;?>").value); <?php
				$index++;
			}
			?>
			return jumlah.toString();
		}
		
	</script>



</body>

</html>
